@media (min-width: 200px) {
    .container{
        max-width: 700px;
    }
}

body {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.55;
  /*color: #333;*/
  /*background-color: #fff;*/
  -font-smoothing: antialiased;
}

p {
  margin: 0 0 1.8em;
}

